.bg-focl {
    background-color: #1b75bc !important;
}
.text-focl {
    background-color: #1b75bc !important;
}

.uploadFile{
    padding: 10px 11px;
    background: #1b75bc;
    color:#fff;width:80%;
    border-radius:5px;
    cursor: pointer;
    height: auto;
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .uploadFile{
        width:100%;
        padding: 5px 5px;
    }
 }

 